

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Assure que le wrapper prend au moins 100% de la hauteur de la vue */

}

.nav-wrapper
{
  height: 20%;
}
  
.content {
  flex: 1; 
  background-color: var(--first-color);
}

.footer {
  background-color: var(--first-color) !important;
  color: white;
  padding: 0;
  text-align: center;
}