<div style="display: flex;flex-direction: row;flex: 1;">
  <p *ngIf="tache_view">TACHE VUE</p>
  <div class="task-container" style="display: flex;flex-direction: column;padding: 30px;   /* Aligne le dropdown à droite */"  [ngStyle]="{'flex': sidePanel ? '3' : '4'}">
    <!-- <p>{{information}}</p> -->
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: end;gap: 10px">
      <select
      class="form-control dropdown-sprint"
      (change)="onSprintSelect($event)"
      [(ngModel)]="selectedSprintIndex">
        <option *ngFor="let s of projectMock.sprints; let i = index" [value]="i">
          Sprint {{i + 1}}
        </option>
      </select>
      <button *ngIf="!sprint_creation" class="button-primary" (click)="openSprintCreation()">+</button>
    </div>

    <div *ngFor="let s of selectedSprint.categorie_tache; let i = index">
      <button 
        (click)="toggleCategorie(s)" 
        class="categorie-button"
        [class.active]="selectedCategories.includes(s)">
        {{ s.nom }}
      </button>
      <div *ngIf="selectedCategories.includes(s)" class="content" style="display:flex;flex-direction: column;align-items: start;">
        
        <div style="display: flex; justify-content: end;align-items: start; width: 80%; flex-direction: row;" 
        *ngFor="let tache of taskOfCategorie(s)">
         <button class="task-button"         [ngStyle]="{'color': statusColor(tache.status)}"
         [class.current]="tache._id === current_tache._id"  (click)="setCurrentTask(tache,i)" 
         >{{tache.description}}</button>
         <button (click)="deleteTask(tache,i)">X</button>
        </div>
        
        
        
        <button class="add-task" *ngIf="!tache_creation"   (click)="openTacheCreation(i)">Nouvelle Tâche</button>
      </div>
    </div>

    <button *ngIf="!categorie_creation && selectedSprintIndex != -1" class="categorie-button add-categorie" (click)="openCategorieCreation()">Ajouter une catégorie de tache</button>
  </div>

  <app-create-sprint-form 
  *ngIf="sprint_creation" 
  [ngStyle]="{'flex': sprint_creation ? '1' : '1'}"
  (formCancel)="closeSprintCreation()"
  [project]="projectMock"
  (sprintCreated)="handleSprintCreated($event)"
  ></app-create-sprint-form>

  <app-create-categorie-form
  *ngIf="categorie_creation"
  [ngStyle]="{'flex': categorie_creation ? '1' : '1'}"
  (formCancel)="closeCategorieCreation()"
  (categorieCreated)="handleCategorieCreated($event)"
  [project]="projectMock"
  [sprint]="selectedSprint"></app-create-categorie-form>


  <app-create-tache-form
  [project]="projectMock"
  [sprint]="selectedSprint"
  [categorie]="getIdcategorie()"
  *ngIf="tache_creation"
  [ngStyle]="{'flex': tache_creation ? '1' : '1'}"
  (formCancel)="closeAll()"
  (tacheCreated)="handleTacheCreated($event)"
  ></app-create-tache-form>

  <app-view-tache
  [project]="projectMock"
  [sprint]="selectedSprint"
  [categorie]="getIdcategorie()"
  [task]="current_tache"
  *ngIf="tache_view"
  [ngStyle]="{'flex': tache_view ? '1' : '1'}"
  (formCancel)="closeAll()"
  (taskUpdated)="handleTaskUpdated($event)">  ></app-view-tache>


</div>
