<div *ngIf="project as project" style="flex: 1; display: flex; flex-direction: row;height: 100%;">
    <!-- Sidebar -->
    <div class="sidebar">
      <button
        *ngFor="let view of views"
        (click)="setActiveView(view.id)"
        [class.active]="activeView === view.id"
      >
        {{ view.name }}
        
      </button>

      <button  *ngIf="isdeleteprojet==true" class="header-button button-primary s" (click)="deleteprojet(project._id)"  style="background-color: brown;">Supprimer projet</button>
      <button  *ngIf="isdeleteprojet==true" class="header-button button-primary"   style="background-color: green;">STATUS: ADMINISTRATEUR</button>
      <button  *ngIf="isdeleteprojet==false" class="tn btn-success "   style="background-color: green;"> STATUS: COLLABORATEUR</button>
      
      <!-- <button class="header-button button-primary s" (click)="listeprojet()"  >Liste des projet</button> -->
    </div>
  
    <!-- Content -->
    <div class="content-container">
      <ng-container *ngIf="activeViewComponent">
        <ng-container 
          [ngComponentOutlet]="activeViewComponent.component" 
          [ngComponentOutletInjector]="createInjector(project)"
         
          >
        </ng-container>
      </ng-container>
    </div>
  </div>
  

    <!-- <div class="project-detail-container">
        <div class="project-detail-header">
            {{ project.nom_projet }}
        </div>
        <div class="project-detail-body">
            <p><strong>Type de projet:</strong> {{ project.type_projet }}</p>
            <p><strong>Description:</strong> {{ project.description_projet }}</p>
            <p><strong>Date de début:</strong> {{ project.date_debut | date }}</p>
            <p><strong>Date de fin:</strong> {{ project.date_fin | date }}</p>
            <p><strong>Membres:</strong></p>
            <ul>
                <li *ngFor="let member of project.membres">{{ member }}</li>
            </ul>
        </div>
    </div> -->

